* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #202142;
    color: #fff;
    line-height: 1.6;
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 20px;
}

.search-wrapper {
    display: flex;
    gap: 20px;
}

.search-left {
    flex: 2;
}

.search-right {
    flex: 1;
}

/* Common */
a {
    text-decoration: none;
}

/* Header */
header {
    color: #ff6a95;
    background-color: rgba(0, 0, 0, 0.4);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Card */

.card {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 30px 40px 10px;
    margin: 20px 0;
    position: relative;
}

.card.reverse {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.card h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    /* text-align: center; */
}

.edit {
    right: 40px;
}
/* Input */
.input-group {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 8px;
}

input {
    flex-grow: 2;
    border: none;
    font-size: 1.6rem;
}

input:focus {
    outline: none;
}
/* Button */
.btn {
    color: #fff;
    border: 0;
    border-radius: 8px;
    color: #fff;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.btn-primary {
    background-color: #202142;
}

.btn-secondary {
    background: #ff6a95;
}

.btn:hover {
    transform: scale(0.98);
    opacity: 0.9;
}

.btn:disabled {
    background-color: #cccccc;
    color: #333;
    cursor: auto;
}

.btn:disabled:hover {
    transform: scale(1);
    opacity: 1;
}

.message {
    padding-top: 10px;
    text-align: center;
    color: rebeccapurple;
}

/* Search */
.search-item {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
}
